.note
{
    padding: 25px;
    height: 280px;
    width: 280px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border-radius: 20px;
}
.note-text{
    flex: 1;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    font-size:15px
}